.App {
  text-align: center;
  max-width: 600px;
}

.App-nav ul{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  color: white;
  height: 18px;
}

.Gallery-json{
  text-align: left;
}

.Gallery-image{
  width: 100%;
  padding: 5px;
}

button {
  margin: 2px;
}